@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1b192f;
    color: #f8f4f9;
}
.card
{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#211ed4,#29c914);
}
.card img
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}
.card:hover img
{
    left: 80%;
    height: 500px;
}
.card .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card:hover .content
{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card .content h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.card .content p
{
    color: #fff;
}
.card .content a
{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}
@media (max-width: 991px)
{
    .card
    {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover
    {
        height: 600px;
    }
    .card:hover img
    {
        left: 50%;
        height: 350px;
    }
    .card .content
    {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media (max-width: 420px)
{
    .card .content
    {
        padding: 30px;
    }
    .card:hover img
    {
        height: 300px;
    }
}
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
  }

  .searchbar-label {
    display: block;
    margin: 10rem 0 2.5rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 0.8rem 0.5rem;
    background-color: #0d0c1d;
    border: none;
    outline: 2px solid #604e7a;
    color: #f8f4f9;
  }

  input[type="text"]:focus {
    border: none;
    outline-color: #bdbdbd;
  }

  .searchbar {
    max-width: 25rem;
    margin-bottom: 5rem;
  }

  .search-results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: left;
  }

  .search-results-item {
    background-color: #151630;
    padding: 1rem;
    border-radius: 0.8rem;
    animation: fadeIn 0.5s ease-in-out;
  }

  .search-item {
    display: block;
    margin-bottom: 1rem;
  }

  .search-item:last-child {
    margin-bottom: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #151630;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7c2af1;
    border-radius: 0.8rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .title {
    font-family: "Kaushan Script", cursive;
    font-size: 10rem;
    margin: 4rem 0 2.5rem;
  }

  @media screen and (min-width: 2000px) {
      html {
          font-size: 92.5%;
        }
  }


.box
{
    position: fixed;
    bottom: 010;
    right: 80px;
    width: 200px;
    border-bottom: 20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.box h2
{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box ul
{
    position: relative;
    background: rgb(41, 41, 41);
}
.box ul li
{
    list-style: none;
    padding: 5px;
    width: 100%;
    background: rgb(41, 41, 41);
    box-shadow: 0 5px 25px rgba(0, 0, 0,.1);
    transition: transform 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*
.box ul:hover li
{
    opacity: 0.1;
}
.box ul li:hover
{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0,.2);
    color: #fff;
    opacity: 1;
}
*/
.box ul li span
{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-20%);
}
.box ul li:hover span
{
    background: #fff;
    color: #25bcff;
}
.divTabla {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break:break-all;
    white-space:pre-line;
    height:50rem;
}
/*____________________________________________________________*/

.open-button {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  margin-top: 10px;
  text-decoration: none;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 100;
  right: 535px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(51, 53, 167)
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}